<div class="w-full h-screen relative">
  <video loop class="w-full h-full absolute top-0 left-0 object-cover" #video [controls]="true" [autoplay]="true">
  </video>
  <canvas #canvas class="w-full absolute h-full top-0 left-0 pointer-events-none"></canvas>

  <!-- Info box on top left -->
  <div class="absolute top-0 left-0 p-4 bg-gray-800 text-white">
    <p>Wrist Width: {{wristWidth}}</p>
    <p>Hand Orientation Radians: {{handOrientationRadians}}</p>
    <p>Hand Orientation Degrees: {{handOrientationDegrees}}</p>
    <p>Forward Vector: {{handVector | json}}</p>
    <p>Up Vector: {{upVector | json}}</p>
    <p>Right Vector: {{rightVector | json}}</p>
  </div>

</div>
